*{
    /* border: 1px solid blue;
    padding: 5px; */
    
}

#container{
    display: flex;
    flex-direction: column;
}
.pages{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: auto;
    overflow-x: hidden;
    background-color: lightgray;
}
#top{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    font-size: 1.2em;
    height: 15vh;
    padding: 0vh 1vw;
    position: fixed;
    width: 94vw;
    top: 0px;
    z-index: 10;
    left:40px;
}
#logo{
    flex:2;
    text-justify: distribute;
    justify-content: center;
    align-content: center;justify-self: center;
    align-self: center;
    padding-right: 14vw;
}
#nav_bar{
    flex:6;
}
#nav_bar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#nav_bar ul li{
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    
}
#search{
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    flex-wrap: nowrap;
    
}

    

#search_input{
    width: 10vw;
    outline: none;
    border-right: 0px;
    border: 2px solid green;
    padding: 2px 4px;
    /* border-top-left-radius: 6%;
    border-bottom-left-radius: 6%; */
    height: 25px;
    color: green;
}
#search_button{
    padding: 2px 4px;
    width: 4vw;    
    border: 2px solid green;
    border-bottom-right-radius: 8%;
    border-top-right-radius: 8%;
    color: green;
    height: 25px;
    border-left: 1px;
    
}
#sl_images{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    bottom: 15vh;
    position: absolute;
    height: 30vh;
    width: 30vw;
    align-self: center;
}
#images #imgs{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    height: 200px;
    width: 350px;
    background-color: rgba(2 ,3 green,4 blue, .8 alpha);
    box-shadow: 3px 3px 15px 12px rgba(0, 0, 0, 0.123);
    
    

}
/* #imgs{
    /* visibility: hidden; 
    background-image: url(./images/img1.jpg);
    background-position: center;
    width: 400px;
    height: 300px;
    position: absolute;
    transition: all ease-in-out .5s;
    left: 400px;
} */
.dots{
    margin: 1%;
}
#side_nav{
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: 2.2em;
    width: 40px;
    height: 100vh;
    justify-items: center;
    display: flex;
    position: fixed;
    top:0px;
    z-index: 12;
    transition: all .7s ease-in-out;
    
}
#scroll_down{
    font-size:1.2em;
    font-weight: bolder;
    align-items: center;
    justify-items: center;
    display: flex;
    justify-content: center;
    width: 5vw;
    align-self: center;
    position: absolute;bottom: 2vh;
}
#arrow_symbol{
    transform:rotateZ(90deg);
    color: blue;
    font-size: 3em;
    z-index: 105;
    
}



#p2titles{
    text-transform: uppercase;
    font-size: 2em;
    justify-self: center;
    align-self: center;
    justify-content: center;
    text-justify: distribute;
    align-content: center;
    margin: 2vh auto auto 12vw;

}
.cartegory{
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    justify-items: center;
    align-items: center;
    margin-top: 4%;
    box-sizing: border-box;
    background-color: lightgray;
    padding: 12px 4px;
    background-image: url(./images/img6.jpg),
    url(./images/img6.jpg),
    url(./images/6.jpg);
    background-position: center,center,center;
    /* background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat; */

}

#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    height: 35vh;
    padding-top: 6vh;
}
#copyright{
    align-self: center;
    background-color: black;
    color: white;
    width: inherit;
    margin-bottom: 5vh;
}

.fcol{
    display: flex;
    flex-direction: column;
    
}
.fcol > ul >li{
    list-style: none;
    padding-left: 0%;
    margin-left: 0%;
}

#page1{
    background-image: url(./images/big-box-store-display-of-clothing-for-sale-DF37R2.jpg);
    font-weight: bold;
    background-position: center;
    background-repeat: round;
}
#page2{
    color: cornflowerblue;
    
    
    font-weight: bold;
    height: auto;
}
.titles{
    text-transform: uppercase;
    text-decoration: underline;
    font-family: cursive;
    font-weight: bolder;
    margin-bottom: 2vh;
    font-size: 1.5em;
}
.btn_expand{
    border: 2px solid green;
    margin:2vh;
}
body{background-color: black;}