#main-nav{
    background-color: lightgray;
    color: #000;
}

#side-nav{
    background-color: lightgray;
    color: #000;
}

#main-section{
    background-color: lightgray;
    color: darkolivegreen;
}

#footer-section{
    background-color: lightgray;
    color: darkolivegreen;
}